body {
  background: #f6f6f6;
}
/* ---------- header ---------- */
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  box-shadow: 0 3px 3px #ccc;
  background: rgb(102, 102, 204);
}

.logo {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #c9c;
  box-shadow: inset 0 0 0 8px #339, inset 0 0 0 16px #ccf;
}
.square {
  position: absolute;
  right: 0;
  top: 16px;
  width: 24px;
  height: 16px;
  background: #66c;
}

.btn-login, .btn-signin, .btn-logout, .btn-admin {
  padding: 5px 15px;
  letter-spacing: 10px;
  text-indent: 10px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 3px #ccc;
  background: #ccf;
  cursor: pointer;
}
.btn-logout, .btn-admin {
  font-size: 14px;
  padding: 3px 5px;
}
.user-id {
  font-size: 24px;
  margin-right: 10px;
}

.popup-layer {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.mask {
  display: none;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #eee;
}
.login, .signin {
  display: none;  
  position: relative;
  width: 450px;
  box-sizing: border-box;
  padding: 35px;
  padding-bottom: 100px;
  margin-bottom: 120px;
  border-radius: 5px;
  background: #69c;
  box-shadow: 0 0 10px #555;
}
.popup-layer h1 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.signin-error {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.login-info, .signin-info {
  width: 100%;
  margin-top: 20px;
}
.popup-layer label {
  line-height: 20px;
  font-size: 16px;
  color: #fff;
}
.popup-layer td {
  text-align: center;
}
.popup-layer tr td:first-child {
  width: 80px;
  text-align: right;
}
.popup-layer input {
  box-sizing: border-box;
  height: 30px;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 0 3px #555;
}
.popup-layer button {
  height: 30px;
  width: 100px;
  margin-top: 20px;
  border-radius: 15px;
  border: none;
  background: #fff;
  box-shadow: 0 0 3px #555;  
}
td.hint {
  padding-bottom: 10px;
  font-size: 12px;
  color: rgb(243, 243, 243);
}
.check-signin, .check-login {
  position: absolute;
  right: 35px;
  bottom: 35px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}

/* ---------- error-message ---------- */

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 360px;
  height: 120px;
  margin: auto;
  top: 0;
  bottom: 240px;
  left: 0;
  right: 0;
  background: #69c;
  opacity: 0;
  border-radius: 15px;
}
.error-message {
  font-size: 24px;
  color: #fff;
  letter-spacing: 10px;
}

/* ---------- main ---------- */

.main {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 70px auto auto;
}

/* ---------- side-bar ---------- */

.side-bar {
  width: 300px;
}

.tag-cloud, .recent-posts, .about {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 10px;
  background: #ccf;
  box-shadow: 0 0 3px #ccc;
}
#about-me {
  background: transparent;
}
/* ---------- info ---------- */
.info {
  display: flex;
  justify-content: space-between;
}
.avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.name span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}
span.chinese {
  margin-top: 20px;
  text-indent: 20px;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 500;
}
.contact {
  margin-top: 20px;
}
.contact li {
  margin-bottom: 15px;
}
.contact li:last-child {
  margin-bottom: 0;
}
i.iconfont {
  display: inline-block;
  margin-right: 10px;
  color: #ccc;
  font-size: 24px;
  vertical-align: middle;
}
i.icon-logo-qq {
  font-size: 26px;
  margin-top: -1px;
} /* qq的这个图片偏小 */
i.iconfont:hover {
  color: #69c;
}
.contact li a:hover {
  color: #69c;
}

/* ---------- tag-cloud ---------- */
.tag-cloud {
  padding-bottom: 10px; /* 拉回最下排li的margin-bottom */
}
.tag-cloud ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tag-cloud li{
  margin-bottom: 10px;
  border-radius: 2px;
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 0 3px #555;
  transition: all 0.5s linear;
}
.tag-cloud li:hover {
  background: rgba(255, 255, 255, .8);
}
.tag-cloud li a {
  display: block;
  padding: 10px;
}
.tag-cloud li a .count {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 3px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 1px black;
  background: rgba(255, 255, 255, 0.5);
  color: #333;
}

/* ---------- recent-posts ---------- */
.recent-posts ul {
  margin-top: -4px; /* 补回为了动画拉开的空间的差 下同 */
  margin-bottom: -9px;
}
.recent-posts a {
  position: relative;
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  padding-bottom: 5px;
}
.recent-posts a:before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 2px;
  background: rgba(77, 77, 77, .7);
  transition: all .5s linear;
}
.recent-posts a:hover:before {
  width: 100%;
}
.recent-posts a:hover {
  color: #333;
}

/* ---------- copyright ---------- */

.copyright {
  margin-left: 15px;
  line-height: 22px;
  font-size: 14px;
  color: #333;
}
.copyright a {
  color: #333;
}
.copyright a:hover {
  text-decoration: underline;
}

/* ---------- tags-posts的h3 ---------- */

.tag-cloud h3, .recent-posts h3 {
  margin-left: -5px;
  margin-top: -5px;
  margin-bottom: 10px;
  color: rgb(38, 140, 243);
  font-weight: 500;
} 