<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= blog.title %></title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/write.css">
</head>
<body>
  <div class="work-space">
    <div class="work-bar">
      <ul>
        <li><a href="/">回到首页</a></li>
        <li><a href="/admin">管理文章</a></li>
        <li><a href="/admin/user">管理用户</a></li>
        <li><a href="/admin/write">发表文章</a></li>
        <li><a>历史记录</a></li>
      </ul>
    </div>
    <div class="work-content">
      <h1>写文章</h1>
      <div class="write-space">
        <form method="post" enctype="multipart/form-data">
          <label for="title">
            标题
            <input class="title" type="text" name="title">
          </label>
          <label for="tags">
            标签
            <input class="tags" type="text" name="tags" placeholder="用英文 , 分割">
          </label>
          <label for="content">
            正文
            <textarea name="content"></textarea>
          </label>
          <input class="publish" type="submit" value="提交">
        </form>
      </div>
    </div>
  </div>
</body>
</html>